{% extends ":default:test.html.twig" %}


{% block title %}Clubs{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }

    </style>
{% endblock %}
{% block content %}
    <div class="big-div">
        <h1>Modifier Club</h1>
    </div>
    <div>
        <center>
            {{ form_start(form) }}
            <table class="table">

                <tr>

                        <th>Nom de club:</th>
                        <td>{{ form_widget(form.nomC) }} </td>
                </tr>

                    <tr>
                        <th>Mail de club:</th>
                        <td>{{ form_widget(form.mailC) }} </td>
                    </tr>

                    <tr>
                        <th>Responsable de club :</th>
                        <td>{{ form_widget(form.idUser) }} </td>
                    </tr>

                    <tr>
                        <th>Description  de club :</th>
                        <td>{{ form_widget(form.descC) }} </td>
                    </tr>

                    <tr>
                        <th>Date de Creation de club :</th>
                        <td>{{ form_widget(form.dateCreation) }} </td>
                    </tr>

                    <tr>
                        <th>Photo de club :</th>
                        <td>{{ form_widget(form.image) }} </td>
                    </tr>




                    <tr>
                        <th>Valider votre Modification :</th>
                        <td>{{ form_widget(form.Ajouter) }} </td>
                    </tr>

                </table>

                    {{ form_end(form) }}
        </center>
    </div>

    <p class="important">

    </p>
{% endblock %}